@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: 2em;
}
.flaticon-behance:before {
	content: "\e000";
}
.flaticon-cross:before {
	content: "\e001";
}
.flaticon-mail:before {
	content: "\e002";
}
.flaticon-label:before {
	content: "\e003";
}
.flaticon-linkedin:before {
	content: "\e004";
}
.flaticon-plus:before {
	content: "\e005";
}
.flaticon-viadeo:before {
	content: "\e006";
}
